{% load random %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Product App</title>
</head>
<body align="center">
    <h1>My Product application</h1>
    <h2>Delete Product</h2>
    <form method="post">
        {% csrf_token %} 
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <input type="submit" value="Confirm">
    </form>
    <p><button><a href="{% url "view_all" %}">View all products</a></button></p>
    <p><button><a href="{% url "homepage" %}">Back to home</a></button></p>
</body> 
</html>


