<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    table
    {    
        margin-left: auto;  
        margin-right: auto;  
    }
    td 
    {   
        text-align: center; 
        vertical-align: middle;
    }
    p 
    { 
        padding:0px; 
        margin:0px; 
    } 
    </style>
    <title>Product App</title>
</head>
<body align="center">
    <h1>My Product application</h1>
    <h2> Update Password </h2>
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <p style="color:red;"> {{ error }} </p>
        {% endfor %}
    {% endfor %}
    {% endif %}
    {% if message %}
        <p style="color:red;"> {{ message }} </p>
    {% endif %}
    <br>

    <form method="post">
        {% csrf_token %}
        <table>
            {% for field in form%}
            <tr>
                <td>{{field.label_tag}}</td>
                <td>{{field}}</td>
            </tr>
            {% endfor %} 
        </table>
        <br>
        <input type="submit" value="Update Password">
    </form>
    <br>
    <div>
        <button><a href="{% url 'home' %}">Go back to Home</button>
    </div>
</body>
</html>


